<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Адмін панель</title>
    <!-- Add Bootstrap CSS link -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Optional: Add custom CSS for styling -->
    <style>
        /* Add custom styles if needed */
    </style>
</head>
<body>
<div class="container mt-5">
    <h1>Адмін панель - Брифи</h1>

    <hr/>

    <div class="form-group">
        <a class="btn btn-outline-warning" th:href="@{/admin/logout}">Вийти з системи</a>
    </div>

    <table class="table">
        <thead>
        <tr>
            <th>Дата створення</th>
            <th>Ім'я</th>
            <th>Дії</th>
        </tr>
        </thead>
        <tbody>
        <!-- Use Thymeleaf to iterate through briefs -->
        <tr th:each="brief : ${briefs}">
            <td th:text="${brief.creationTime}">Дата створення</td>
            <td th:text="${brief.responses[0].getAnswer()}">Анонім</td>
            <td>
                <!-- Add Bootstrap button styles -->
                <a class="btn btn-primary" th:href="@{/admin/{id}(id=${brief.id})}">Деталі</a>
                <a class="btn btn-danger" th:href="@{/admin/{id}/delete(id=${brief.id})}">Видалити</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<!-- Add Bootstrap JS link (optional, for certain Bootstrap functionalities) -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
