<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Деталі брифу</title>
    <!-- Add Bootstrap CSS link -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-5">
    <h1>Деталі брифу</h1>

    <div id="detailsTable">
        <table class="table">
            <thead>
            <tr>
                <th>Питання</th>
                <th>Відповідь</th>
            </tr>
            </thead>
            <tbody>
            <!-- Use Thymeleaf to iterate through responses -->
            <tr th:each="response : ${brief.responses}">
                <td th:text="${response.question}">Питання</td>
                <td th:text="${response.answer}">Відповідь</td>
            </tr>
            </tbody>
        </table>
    </div>

    <form id="editForm" th:action="@{'/admin/edit/' + ${brief.id}}" method="post" style="display: none;">
        <table class="table">
            <thead>
            <tr>
                <th>Питання</th>
                <th>Відповідь</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="response, iter : ${brief.responses}">
                <td th:text="${response.question}">Питання</td>
                <td>
                    <input hidden type="text" class="form-control" th:name="'responses[' + ${iter.index} + '].question'" th:value="${response.question}" />
                    <input type="text" class="form-control" th:name="'responses[' + ${iter.index} + '].answer'" th:value="${response.answer}" />
                </td>
            </tr>
            </tbody>
        </table>
        <div class="form-group">
            <button id="saveButton" type="submit" class="btn btn-primary" style="display: none;">Зберегти</button>
            <button type="button" onclick="toggleReadMode()" class="btn btn-secondary">Скасувати</button>
        </div>
    </form>

    <button id="editButton" onclick="toggleEditMode()" class="btn btn-primary">Редагувати</button>
    <a th:href="@{'/admin/' + ${brief.id} + '/generate-pdf'}" class="btn btn-success">Створити PDF</a>

    <a href="/admin" class="btn btn-secondary">Назад</a>
</div>
<!-- Add Bootstrap JS link (optional, for certain Bootstrap functionalities) -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script>
    function toggleEditMode() {
        var form = document.getElementById('editForm');
        var table = document.getElementById('detailsTable');
        var editButton = document.getElementById('editButton');
        var saveButton = document.getElementById('saveButton');

        if (form.style.display === "none") {
            form.style.display = "block";
            table.style.display = "none";
            editButton.style.display = "none";
            saveButton.style.display = "inline";
        } else {
            form.style.display = "none";
            table.style.display = "table";
            editButton.style.display = "inline";
            saveButton.style.display = "none";
        }
    }

    function toggleReadMode() {
        var form = document.getElementById('editForm');
        var table = document.getElementById('detailsTable');
        var editButton = document.getElementById('editButton');
        var saveButton = document.getElementById('saveButton');

        form.style.display = "none";
        table.style.display = "table";
        editButton.style.display = "inline";
        saveButton.style.display = "none";
    }

    document.addEventListener("DOMContentLoaded", function() {
        var form = document.getElementById('editForm');
        var inputs = form.querySelectorAll('input[type="text"]');
        inputs.forEach(function(input) {
            input.value = input.getAttribute('value');
        });
    });
</script>
</body>
</html>
